
html, body {
    height: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
    background-color: #efefef;
    margin:0px;
    padding-bottom:20px;
}

a:link {text-decoration:none;color:#0033ff;}
a:visited {text-decoration:none;color:#0033ff;}
a:hover {text-decoration:underline;color:#0033ff;}
a:active {text-decoration:underline;color:#3333ff;}

#content{
    background-color:#fff;
    color:#666;
    border:1px solid #999;
    border-radius: 5px;
    margin-bottom:20px;
    padding:5px;
    text-align:center;
}
#bottom{
    background-color:#fff;
    color:#666;
    padding:5px;
    border:1px solid #999;
    border-radius: 5px;
    text-align:center;
}
#wrapper{
    padding:20px;
}



